<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="example-config">
   <Properties>
       <Property name="PATTERN">%-5level %d [%t] [%c] %m%n</Property>
   </Properties>
   <Appenders>
       <Console name="STDOUT" target="SYSTEM_OUT">
           <PatternLayout pattern="${PATTERN}"/>
       </Console>
   </Appenders>
   <Loggers>
       <!--&lt;!&ndash; CXF is used heavily by Mule for web services &ndash;&gt;-->
       <!--<AsyncLogger name="org.apache.cxf" level="WARN"/>-->

       <!--&lt;!&ndash; Apache Commons tend to make a lot of noise which can clutter the log&ndash;&gt;-->
       <!--<AsyncLogger name="org.apache" level="WARN"/>-->

       <!--&lt;!&ndash; Reduce startup noise &ndash;&gt;-->
       <!--<AsyncLogger name="org.springframework.beans.factory" level="WARN"/>-->

       <!--&lt;!&ndash; Mule classes &ndash;&gt;-->
       <!--<AsyncLogger name="org.mule" level="INFO"/>-->
       <!--<AsyncLogger name="com.mulesoft" level="INFO"/>-->

       <!--&lt;!&ndash; Reduce DM verbosity &ndash;&gt;-->
       <AsyncLogger name="uk.ithis" level="DEBUG"/>
       <!--<AsyncLogger name="Tracking" level="WARN"/>-->


       <!--<AsyncRoot level="INFO">-->
           <!--<AppenderRef ref="Console"/>-->
       <!--</AsyncRoot>-->
       <Root level="DEBUG">
           <AppenderRef ref="STDOUT"/>
       </Root>
   </Loggers>
</Configuration>